@import "variables";

@font-face {
  font-family: 'PCS-Icons';
  src:  url('./fonts/PCS-Icons.eot?ci6q1h');
  src:  url('./fonts/PCS-Icons.eot?ci6q1h#iefix') format('embedded-opentype'),
    url('./fonts/PCS-Icons.ttf?ci6q1h') format('truetype'),
    url('./fonts/PCS-Icons.woff?ci6q1h') format('woff'),
    url('./fonts/PCS-Icons.svg?ci6q1h#PCS-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-my-clients {
  &:before {
    content: $icon-my-clients; 
  }
}
.icon-profile {
  &:before {
    content: $icon-profile; 
  }
}
.icon-secure {
  &:before {
    content: $icon-secure; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-modal-heavy {
  &:before {
    content: $icon-modal-heavy; 
  }
}
.icon-modal-light {
  &:before {
    content: $icon-modal-light; 
  }
}
.icon-hide-horizontal {
  &:before {
    content: $icon-hide-horizontal; 
  }
}
.icon-show-horizontal {
  &:before {
    content: $icon-show-horizontal; 
  }
}
.icon-pin-point {
  &:before {
    content: $icon-pin-point; 
  }
}
.icon-preference-gear {
  &:before {
    content: $icon-preference-gear; 
  }
}
.icon-program {
  &:before {
    content: $icon-program; 
  }
}
.icon-schools {
  &:before {
    content: $icon-schools; 
  }
}
.icon-non-profit {
  &:before {
    content: $icon-non-profit; 
  }
}
.icon-action {
  &:before {
    content: $icon-action; 
  }
}
.icon-clear-filter {
  &:before {
    content: $icon-clear-filter; 
  }
}
.icon-clergy {
  &:before {
    content: $icon-clergy; 
  }
}
.icon-employers {
  &:before {
    content: $icon-employers; 
  }
}
.icon-for-profit {
  &:before {
    content: $icon-for-profit; 
  }
}
.icon-geo-locate {
  &:before {
    content: $icon-geo-locate; 
  }
}
.icon-government {
  &:before {
    content: $icon-government; 
  }
}
.icon-individual {
  &:before {
    content: $icon-individual; 
  }
}
.icon-insight {
  &:before {
    content: $icon-insight; 
  }
}
.icon-map-flag {
  &:before {
    content: $icon-map-flag; 
  }
}
.icon-new-window {
  &:before {
    content: $icon-new-window; 
  }
}
.icon-search-doc {
  &:before {
    content: $icon-search-doc; 
  }
}
.icon-arrow-thin-down {
  &:before {
    content: $icon-arrow-thin-down; 
  }
}
.icon-arrow-thin-left {
  &:before {
    content: $icon-arrow-thin-left; 
  }
}
.icon-arrow-thin-right {
  &:before {
    content: $icon-arrow-thin-right; 
  }
}
.icon-arrow-thin-up {
  &:before {
    content: $icon-arrow-thin-up; 
  }
}
.icon-article {
  &:before {
    content: $icon-article; 
  }
}
.icon-backspace {
  &:before {
    content: $icon-backspace; 
  }
}
.icon-battery-empty {
  &:before {
    content: $icon-battery-empty; 
  }
}
.icon-battery-full {
  &:before {
    content: $icon-battery-full; 
  }
}
.icon-battery-low {
  &:before {
    content: $icon-battery-low; 
  }
}
.icon-battery-medium {
  &:before {
    content: $icon-battery-medium; 
  }
}
.icon-bell {
  &:before {
    content: $icon-bell; 
  }
}
.icon-blog {
  &:before {
    content: $icon-blog; 
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark; 
  }
}
.icon-box {
  &:before {
    content: $icon-box; 
  }
}
.icon-briefcase {
  &:before {
    content: $icon-briefcase; 
  }
}
.icon-brightness-low {
  &:before {
    content: $icon-brightness-low; 
  }
}
.icon-brightness-max {
  &:before {
    content: $icon-brightness-max; 
  }
}
.icon-brightness-medium {
  &:before {
    content: $icon-brightness-medium; 
  }
}
.icon-broadcast {
  &:before {
    content: $icon-broadcast; 
  }
}
.icon-browser {
  &:before {
    content: $icon-browser; 
  }
}
.icon-browser-upload {
  &:before {
    content: $icon-browser-upload; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-camcorder {
  &:before {
    content: $icon-camcorder; 
  }
}
.icon-camera {
  &:before {
    content: $icon-camera; 
  }
}
.icon-card {
  &:before {
    content: $icon-card; 
  }
}
.icon-cart {
  &:before {
    content: $icon-cart; 
  }
}
.icon-checklist {
  &:before {
    content: $icon-checklist; 
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-clipboard {
  &:before {
    content: $icon-clipboard; 
  }
}
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-clockwise {
  &:before {
    content: $icon-clockwise; 
  }
}
.icon-cloud {
  &:before {
    content: $icon-cloud; 
  }
}
.icon-cloud-download {
  &:before {
    content: $icon-cloud-download; 
  }
}
.icon-cloud-upload {
  &:before {
    content: $icon-cloud-upload; 
  }
}
.icon-code {
  &:before {
    content: $icon-code; 
  }
}
.icon-contract {
  &:before {
    content: $icon-contract; 
  }
}
.icon-contract-2 {
  &:before {
    content: $icon-contract-2; 
  }
}
.icon-conversation {
  &:before {
    content: $icon-conversation; 
  }
}
.icon-copy {
  &:before {
    content: $icon-copy; 
  }
}
.icon-crop {
  &:before {
    content: $icon-crop; 
  }
}
.icon-cross {
  &:before {
    content: $icon-cross; 
  }
}
.icon-crosshair {
  &:before {
    content: $icon-crosshair; 
  }
}
.icon-cutlery {
  &:before {
    content: $icon-cutlery; 
  }
}
.icon-device-desktop {
  &:before {
    content: $icon-device-desktop; 
  }
}
.icon-device-mobile {
  &:before {
    content: $icon-device-mobile; 
  }
}
.icon-device-tablet {
  &:before {
    content: $icon-device-tablet; 
  }
}
.icon-direction {
  &:before {
    content: $icon-direction; 
  }
}
.icon-document {
  &:before {
    content: $icon-document; 
  }
}
.icon-document-delete {
  &:before {
    content: $icon-document-delete; 
  }
}
.icon-document-edit {
  &:before {
    content: $icon-document-edit; 
  }
}
.icon-document-new {
  &:before {
    content: $icon-document-new; 
  }
}
.icon-document-remove {
  &:before {
    content: $icon-document-remove; 
  }
}
.icon-dot {
  &:before {
    content: $icon-dot; 
  }
}
.icon-dots-2 {
  &:before {
    content: $icon-dots-2; 
  }
}
.icon-dots-3 {
  &:before {
    content: $icon-dots-3; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-enter {
  &:before {
    content: $icon-enter; 
  }
}
.icon-exit {
  &:before {
    content: $icon-exit; 
  }
}
.icon-expand {
  &:before {
    content: $icon-expand; 
  }
}
.icon-expand-2 {
  &:before {
    content: $icon-expand-2; 
  }
}
.icon-experiment {
  &:before {
    content: $icon-experiment; 
  }
}
.icon-feed {
  &:before {
    content: $icon-feed; 
  }
}
.icon-flag {
  &:before {
    content: $icon-flag; 
  }
}
.icon-flashlight {
  &:before {
    content: $icon-flashlight; 
  }
}
.icon-folder {
  &:before {
    content: $icon-folder; 
  }
}
.icon-folder-open {
  &:before {
    content: $icon-folder-open; 
  }
}
.icon-forward {
  &:before {
    content: $icon-forward; 
  }
}
.icon-gaming {
  &:before {
    content: $icon-gaming; 
  }
}
.icon-gear {
  &:before {
    content: $icon-gear; 
  }
}
.icon-graduation {
  &:before {
    content: $icon-graduation; 
  }
}
.icon-graph-bar {
  &:before {
    content: $icon-graph-bar; 
  }
}
.icon-graph-line {
  &:before {
    content: $icon-graph-line; 
  }
}
.icon-graph-pie {
  &:before {
    content: $icon-graph-pie; 
  }
}
.icon-headset {
  &:before {
    content: $icon-headset; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-hourglass {
  &:before {
    content: $icon-hourglass; 
  }
}
.icon-inbox {
  &:before {
    content: $icon-inbox; 
  }
}
.icon-information {
  &:before {
    content: $icon-information; 
  }
}
.icon-italic {
  &:before {
    content: $icon-italic; 
  }
}
.icon-lightbulb {
  &:before {
    content: $icon-lightbulb; 
  }
}
.icon-link {
  &:before {
    content: $icon-link; 
  }
}
.icon-link-broken {
  &:before {
    content: $icon-link-broken; 
  }
}
.icon-list {
  &:before {
    content: $icon-list; 
  }
}
.icon-loading {
  &:before {
    content: $icon-loading; 
  }
}
.icon-lock {
  &:before {
    content: $icon-lock; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-map {
  &:before {
    content: $icon-map; 
  }
}
.icon-media-loop {
  &:before {
    content: $icon-media-loop; 
  }
}
.icon-media-next {
  &:before {
    content: $icon-media-next; 
  }
}
.icon-media-pause {
  &:before {
    content: $icon-media-pause; 
  }
}
.icon-media-play {
  &:before {
    content: $icon-media-play; 
  }
}
.icon-media-previous {
  &:before {
    content: $icon-media-previous; 
  }
}
.icon-media-record {
  &:before {
    content: $icon-media-record; 
  }
}
.icon-media-shuffle {
  &:before {
    content: $icon-media-shuffle; 
  }
}
.icon-media-stop {
  &:before {
    content: $icon-media-stop; 
  }
}
.icon-medical {
  &:before {
    content: $icon-medical; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-message {
  &:before {
    content: $icon-message; 
  }
}
.icon-meter {
  &:before {
    content: $icon-meter; 
  }
}
.icon-microphone {
  &:before {
    content: $icon-microphone; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-monitor {
  &:before {
    content: $icon-monitor; 
  }
}
.icon-move {
  &:before {
    content: $icon-move; 
  }
}
.icon-music {
  &:before {
    content: $icon-music; 
  }
}
.icon-network-1 {
  &:before {
    content: $icon-network-1; 
  }
}
.icon-network-2 {
  &:before {
    content: $icon-network-2; 
  }
}
.icon-network-3 {
  &:before {
    content: $icon-network-3; 
  }
}
.icon-network-4 {
  &:before {
    content: $icon-network-4; 
  }
}
.icon-network-5 {
  &:before {
    content: $icon-network-5; 
  }
}
.icon-pamphlet {
  &:before {
    content: $icon-pamphlet; 
  }
}
.icon-paperclip {
  &:before {
    content: $icon-paperclip; 
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-photo {
  &:before {
    content: $icon-photo; 
  }
}
.icon-photo-group {
  &:before {
    content: $icon-photo-group; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-power {
  &:before {
    content: $icon-power; 
  }
}
.icon-preview {
  &:before {
    content: $icon-preview; 
  }
}
.icon-print {
  &:before {
    content: $icon-print; 
  }
}
.icon-pulse {
  &:before {
    content: $icon-pulse; 
  }
}
.icon-question {
  &:before {
    content: $icon-question; 
  }
}
.icon-reply {
  &:before {
    content: $icon-reply; 
  }
}
.icon-reply-all {
  &:before {
    content: $icon-reply-all; 
  }
}
.icon-return {
  &:before {
    content: $icon-return; 
  }
}
.icon-retweet {
  &:before {
    content: $icon-retweet; 
  }
}
.icon-rocket {
  &:before {
    content: $icon-rocket; 
  }
}
.icon-scale {
  &:before {
    content: $icon-scale; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-skip {
  &:before {
    content: $icon-skip; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-stopwatch {
  &:before {
    content: $icon-stopwatch; 
  }
}
.icon-store {
  &:before {
    content: $icon-store; 
  }
}
.icon-suitcase {
  &:before {
    content: $icon-suitcase; 
  }
}
.icon-swap {
  &:before {
    content: $icon-swap; 
  }
}
.icon-tag-delete {
  &:before {
    content: $icon-tag-delete; 
  }
}
.icon-thumbs-down {
  &:before {
    content: $icon-thumbs-down; 
  }
}
.icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up; 
  }
}
.icon-time-reverse {
  &:before {
    content: $icon-time-reverse; 
  }
}
.icon-to-do {
  &:before {
    content: $icon-to-do; 
  }
}
.icon-toggles {
  &:before {
    content: $icon-toggles; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-trophy {
  &:before {
    content: $icon-trophy; 
  }
}
.icon-upload {
  &:before {
    content: $icon-upload; 
  }
}
.icon-user-id {
  &:before {
    content: $icon-user-id; 
  }
}
.icon-vibrate {
  &:before {
    content: $icon-vibrate; 
  }
}
.icon-view-apps {
  &:before {
    content: $icon-view-apps; 
  }
}
.icon-view-list {
  &:before {
    content: $icon-view-list; 
  }
}
.icon-view-list-large {
  &:before {
    content: $icon-view-list-large; 
  }
}
.icon-view-thumb {
  &:before {
    content: $icon-view-thumb; 
  }
}
.icon-wallet {
  &:before {
    content: $icon-wallet; 
  }
}
.icon-warning {
  &:before {
    content: $icon-warning; 
  }
}
.icon-wifi {
  &:before {
    content: $icon-wifi; 
  }
}
.icon-wrong {
  &:before {
    content: $icon-wrong; 
  }
}
.icon-zoom-in {
  &:before {
    content: $icon-zoom-in; 
  }
}
.icon-zoom-out {
  &:before {
    content: $icon-zoom-out; 
  }
}
.icon-tax-exempt {
  &:before {
    content: $icon-tax-exempt; 
  }
}

