$icomoon-font-family: "PCS-Icons" !default;
$icomoon-font-path: "fonts" !default;


$icon-my-clients: "\e919";
$icon-profile: "\e911";
$icon-secure: "\e912";
$icon-eye: "\e913";
$icon-modal-heavy: "\e914";
$icon-modal-light: "\e915";
$icon-hide-horizontal: "\e916";
$icon-show-horizontal: "\e917";
$icon-pin-point: "\e902";
$icon-preference-gear: "\e903";
$icon-program: "\e904";
$icon-schools: "\e905";
$icon-non-profit: "\e906";
$icon-action: "\e918";
$icon-clear-filter: "\e907";
$icon-clergy: "\e908";
$icon-employers: "\e909";
$icon-for-profit: "\e90a";
$icon-geo-locate: "\e90b";
$icon-government: "\e90c";
$icon-individual: "\e90d";
$icon-insight: "\e90e";
$icon-map-flag: "\e90f";
$icon-new-window: "\e910";
$icon-search-doc: "\e901";
$icon-arrow-thin-down: "\6b";
$icon-arrow-thin-left: "\6c";
$icon-arrow-thin-right: "\6d";
$icon-arrow-thin-up: "\6e";
$icon-article: "\70";
$icon-backspace: "\71";
$icon-battery-empty: "\74";
$icon-battery-full: "\75";
$icon-battery-low: "\76";
$icon-battery-medium: "\77";
$icon-bell: "\78";
$icon-blog: "\79";
$icon-bookmark: "\42";
$icon-box: "\44";
$icon-briefcase: "\45";
$icon-brightness-low: "\46";
$icon-brightness-max: "\47";
$icon-brightness-medium: "\48";
$icon-broadcast: "\49";
$icon-browser: "\4a";
$icon-browser-upload: "\4b";
$icon-calendar: "\4d";
$icon-camcorder: "\4e";
$icon-camera: "\4f";
$icon-card: "\50";
$icon-cart: "\51";
$icon-checklist: "\52";
$icon-checkmark: "\53";
$icon-chevron-down: "\54";
$icon-chevron-left: "\55";
$icon-chevron-right: "\56";
$icon-chevron-up: "\57";
$icon-clipboard: "\58";
$icon-clock: "\59";
$icon-clockwise: "\5a";
$icon-cloud: "\30";
$icon-cloud-download: "\31";
$icon-cloud-upload: "\32";
$icon-code: "\33";
$icon-contract: "\34";
$icon-contract-2: "\35";
$icon-conversation: "\36";
$icon-copy: "\37";
$icon-crop: "\38";
$icon-cross: "\39";
$icon-crosshair: "\21";
$icon-cutlery: "\22";
$icon-device-desktop: "\23";
$icon-device-mobile: "\24";
$icon-device-tablet: "\25";
$icon-direction: "\26";
$icon-document: "\28";
$icon-document-delete: "\29";
$icon-document-edit: "\2a";
$icon-document-new: "\2b";
$icon-document-remove: "\2c";
$icon-dot: "\2d";
$icon-dots-2: "\2e";
$icon-dots-3: "\2f";
$icon-download: "\3a";
$icon-enter: "\3c";
$icon-exit: "\3d";
$icon-expand: "\3e";
$icon-expand-2: "\3f";
$icon-experiment: "\40";
$icon-feed: "\5d";
$icon-flag: "\5e";
$icon-flashlight: "\5f";
$icon-folder: "\60";
$icon-folder-open: "\7b";
$icon-forward: "\7c";
$icon-gaming: "\7d";
$icon-gear: "\7e";
$icon-graduation: "\5c";
$icon-graph-bar: "\e000";
$icon-graph-line: "\e001";
$icon-graph-pie: "\e002";
$icon-headset: "\e003";
$icon-home: "\e006";
$icon-hourglass: "\e007";
$icon-inbox: "\e008";
$icon-information: "\e009";
$icon-italic: "\e00a";
$icon-lightbulb: "\e00d";
$icon-link: "\e00e";
$icon-link-broken: "\e00f";
$icon-list: "\e010";
$icon-loading: "\e011";
$icon-lock: "\e013";
$icon-mail: "\e015";
$icon-map: "\e016";
$icon-media-loop: "\e017";
$icon-media-next: "\e018";
$icon-media-pause: "\e019";
$icon-media-play: "\e01a";
$icon-media-previous: "\e01b";
$icon-media-record: "\e01c";
$icon-media-shuffle: "\e01d";
$icon-media-stop: "\e01e";
$icon-medical: "\e01f";
$icon-menu: "\e020";
$icon-message: "\e021";
$icon-meter: "\e022";
$icon-microphone: "\e023";
$icon-minus: "\e024";
$icon-monitor: "\e025";
$icon-move: "\e026";
$icon-music: "\e027";
$icon-network-1: "\e028";
$icon-network-2: "\e029";
$icon-network-3: "\e02a";
$icon-network-4: "\e02b";
$icon-network-5: "\e02c";
$icon-pamphlet: "\e02d";
$icon-paperclip: "\e02e";
$icon-pencil: "\e02f";
$icon-phone: "\e030";
$icon-photo: "\e031";
$icon-photo-group: "\e032";
$icon-pin: "\e034";
$icon-plus: "\e035";
$icon-power: "\e036";
$icon-preview: "\e037";
$icon-print: "\e038";
$icon-pulse: "\e039";
$icon-question: "\e03a";
$icon-reply: "\e03b";
$icon-reply-all: "\e03c";
$icon-return: "\e03d";
$icon-retweet: "\e03e";
$icon-rocket: "\e03f";
$icon-scale: "\e040";
$icon-search: "\e041";
$icon-skip: "\e043";
$icon-star: "\e045";
$icon-stopwatch: "\e046";
$icon-store: "\e047";
$icon-suitcase: "\e048";
$icon-swap: "\e049";
$icon-tag-delete: "\e04b";
$icon-thumbs-down: "\e04d";
$icon-thumbs-up: "\e04e";
$icon-time-reverse: "\e050";
$icon-to-do: "\e051";
$icon-toggles: "\e052";
$icon-trash: "\e053";
$icon-trophy: "\e054";
$icon-upload: "\e055";
$icon-user-id: "\e058";
$icon-vibrate: "\e059";
$icon-view-apps: "\e05a";
$icon-view-list: "\e05b";
$icon-view-list-large: "\e05c";
$icon-view-thumb: "\e05d";
$icon-wallet: "\e062";
$icon-warning: "\e063";
$icon-wifi: "\e066";
$icon-wrong: "\e067";
$icon-zoom-in: "\e068";
$icon-zoom-out: "\e069";
$icon-tax-exempt: "\e900";